body {
    background-color: rgb(48, 45, 45);
    font-family: sans-serif;
    color: white;
}
header {
  background-color: darkgreen ;
  text-align: center;
}
h1{
    background-color: darkgreen ;
    text-align: center;
    
}
img {
  width: 40%;
  border-radius: 8px;
  display: block;
  margin: auto;
}